<div class="container">
    <div class="row mt-5">
        <h3 class="text-center text-uppercase p-2" style="font-family: 'Lucida Sans';">lista de registros</h3>
        {{#if personas}}        
            <table class="table text-center" style="width:1200px; ">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Nombe</th>
                        <th scope="col">Correo</th>
                        {{!-- <th scope="col">Edad</th> --}}
                        <th scope="col">Editar | Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each personas}}
                        <tr>
                        <td>{{nombre}}</td>
                        <td>{{correo}}</td>
                        {{!-- <td>{{age}}</td> --}}
                        <td>
                            <div class="btn-group">
                                <a href="/edit/{{id}}" class="btn btn-warning p-2"><i class="fa-solid fa-pencil"></i></a>
                                <a href="/delete/{{id}}" class="btn btn-danger p-2"><i class="fa-solid fa-trash-can"></i></a>
                            </div>
                        </td>
                    </tr>
                    {{/each}}                                      
                </tbody>
                <tfoot>
                    <tr class="table-dark">
                        <td colspan="4">Registros</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        {{else}}
        <div class="card text-center mx-auto" style="width: 350px;">
            <div class="card-header">
                <h3>Debes crear un nuevo registro</h3>
            </div>
            <div class="card-body">
                <p>Registrar nuevo</p>
                <a href="#" class="btn btn-primary">Ir a crear</a>
            </div>        
        {{/if}}
    </div>
</div>